<h3>Welcome to Blackjack!</h3>
<h4>What is your name?</h4>
<form action = '/savename' method = 'post'>
  <fieldset>
    <input type="text" name = 'player'>
    <br />
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
